{% extends 'layouts.html' %}


{% block title %}
Forget page
{% endblock %}



{% block content %}

 <!-- ======= Breadcrumbs ======= -->
 <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Forget Password</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>ForgetPassword</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  

  <section id="contact" class="contact">
    <div class="container">


      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-4">

          <h2>Forget Password</h2>  

          <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
              <div class="col-md-6 form-group">
                <input type="email" name="email" class="form-control" id="name" placeholder="Your email" required>
              </div>

              <!-- <div class="form-group">
               
                  <input type="password" name="password" class="form-control" id="name" placeholder="Your password" required>
                </div>

                 <small>forget <a href="{% url 'forgetpassword' %}">password</a></small>    -->

        <div class="text-center">
                <button class='btn btn-success'type="submit">Get Password</button></div>
          </form>
          <small>Log into my account <a href="{% url 'login' %}">Login</a></small>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

{% endblock %}